@font-face 
  font-family: "WizardWorld"
  src: local("WizardWorld"), url(~/assets/fonts/WizardWorld.ttf) format("truetype")

@font-face
  font-family: "AnimalesFantastic"
  src: local("AnimalesFantastic"), url(~/assets/fonts/AnimalesFantastic.ttf) format("truetype")

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap')